.card {
  cursor: pointer;
  background-color: #f2f2f2;
}

footer {
  background-color: #95C786;
}

.help-link, .join-link, .top-link {
  text-decoration: none;
  color: white;
}

.help-link:hover, .join-link:hover, .top-link:hover, .copyright {
  color: #7CA771;
}
